<div class="row">
  <div class="Note" *ngFor="let note of Notes">
    <h2>{{note.Title}}</h2>
    <h3>{{note.Message}}</h3>
    <label>Label</label>
    <ul>
      <li *ngFor = "let label of note.Label">
        {{label.Label}}
      </li>
    </ul>
    <label>CheckList</label>
    <ul>
      <li *ngFor = "let checklist of note.CheckList">
        {{checklist.CheckList}}
      </li>
    </ul>
    <a type="button" routerLink="/Edit/{{note.Id}}">Edit</a>
  </div>
</div>
<!-- <app-note-edit [note] = "SelectedNote"></app-note-edit> -->
