<div class="CreateNote">
    <div class="icon">
      <div class="link">
      <a type="button" (click)="AddNote()" id="createNote"><p>CreateNote</p></a>
    </div>
    </div>
</div>
<div id="NoteContainer" *ngFor="let note of Notes">
  <mat-card class="example-card" style="float:left">
    <mat-card-header>
      <mat-card-title>

        <div id="pinned" (click)="pinnedToggle(note)" [class.pinned]="note.pinned" [style.color]="note.pinned ? 'black': 'brown'">
          <i class="fas fa-thumbtack"></i>
        </div>
        <div id="delete" (click)="delete(note.id)">
          <i class="fas fa-trash"></i>
        </div>
        <div id="delete" (click)="EditNote(note.id)">
          <i class="fas fa-pen-nib"></i>
        </div>
        <br>
      </mat-card-title>
      <mat-card-subtitle>
        <b>Title</b>:{{note.title}}
        <br>
        <b>Text</b>:{{note.message}}
      </mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <div *ngFor="let c of note.checkList; let i=index">
        <div (click)="IsChecked(i,note)" [class.IsChecked]="c.isChecked">
        <b> CheckList</b>:{{c.checklist}}
        </div>
        <br>
      </div>
      <br>
      <div *ngFor="let d of note.label">
        <b> LabelText</b>:{{d.label}}
      </div>
    </mat-card-content>
    <mat-card-actions>
    </mat-card-actions>
  </mat-card>
</div>
